* {
 padding: 15px;
 background-color: #ebf9ff;
 margin: 0 auto;
}

p {
 font-family: 'arial', sans-serif;
 bottom: 20px;
}

header, h3 {
 font-family: 'arial black', sans-serif;
}

a {
 font-family: 'arial', sans-serif;
 text-decoration: none;
}

h1 {
 font-family: 'arial black', sans-serif;
 text-align: center;
}

li {
 padding: 0px;
}
